*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*чтобы контент не вылазил за пределы бокса*/
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.wrappe_2{
    max-width: 1860px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
nav a{
    color: #424551;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;

}
header input{
    border: 1px solid #D7DADD; /* #d7dadd #D7DADD */
    border-radius: 4px;
    padding: 12px 16px;
    width: 380px;
}
.icons_block{
    display: flex;
}
.icons_block div{
    padding: 0 20px;
    /* border-right: 1px solid #D7DADD; */
}
.icons_block div:first-child{
    border-right: 1px solid #D7DADD;
}
/* .icons_block div i{
    border-right: 1px solid #D7DADD;
} */
.ads_banner{
    background-color: #17696A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;

}
.ads_banner a{
    color: white;
    margin: 0 2px;
    font-size: 12px;
}
.ads_banner a:nth-child(2){
    font-weight: 900;
    text-decoration: none;
}
.ads_banner button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 15px;
    color: white;
}
#category_block{
    background-image: url("../media/menswear_background.png");
    background-position: center;
    background-size: cover;
    height: 800px; /*80vh*/
}
.category_block_content{
    padding: 140px 0 180px 0;
}
.category_block_content p{
    color: #1E212C;
    font-weight: 700;
    font-size: 18px;
}
.category_block_content h2{
    font-size: 72px;
    font-weight: 900;
    margin: 20px 0 60px 0;
    color: #1E212C;
}
.shop_btns{
    display: flex;
    gap: 24px;

}
.shop_btns button{
    border: 1px solid #17696A;
    border-radius: 4px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.shop_btns button:first-child{
    background-color: transparent;
    color:#17696A;
    width: 152px;
}
.shop_btns button:last-child{
    background-color:#17696A;
    color:white;
    width: 229px;
}
.numbers_block{
    display: flex;
    gap: 4px;
    margin-top: 180px;
    color: rgba(66, 69, 81, 0.6);
}
.numbers_block div{
    border-bottom: 2px solid #17696A;
    padding-bottom: 15px;
    font-size: 28px;
    width: 178px;
    cursor: pointer;
    font-weight: 700;
}
.numbers_block div:hover{
    color: rgba(66, 69, 81, 1);
    border-bottom: 2px solid rgb (66, 69, 81, 1);
}
.category_card div{
    width: 390px;
    height: 390px;
}
.category_card p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
}
#category_flex_block{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: -50px;
}
#new_arrivals_block{
    padding: 180px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#new_arrivals_block h3{
    font-size: 46px;
    font-weight: 700;
}
#new_arrivals_block > p{ /* знак > означает что обращение будет только к прямым потомкам без вложенных*/
    color: #787A80;
    font-size: 18px;
    margin-top: 24px;
}
#new_arrivals_block a{
    color: #17696A;
    font-size: 18px;
}
#new_arrivals_container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
}
.new_arrival_card div{
    width: 285px;
    height: 320px;
    position: relative;
}
.heartElem{
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: #787A80;
}
.heartElem.liked{
    background-color: red;
    color: white;
}
.new_arrival_title{
    font-size: 18px;
    color: #424551;
    margin: 16px 0 8px 0;
}
.new_arrival_price{
    font-size: 20px;
    font-weight: 700;
}