.navigation-link {
    list-style-type: none;
}
.bww-logo {
    width: 28px;
    height: 28px;
    padding-right: 2px;
}
.wal-logo-container {

}
.wal-logo {
    height: 132px;
    position: relative;
    top: 60px;
}
.hero {
}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
a:hover{
    color: red;
}
.navigation-menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: flex-end;

}
.header{
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    width: 100%;
    height: 114px;
    justify-content: center;
    

    
}
main{
    text-align: center;
    background-color: black;
    height: 100vh;
    
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap')
