
.btn-container{
    font-size: 0;
    padding-left: 120px;
}
.btn{
    border:none;
    background-color: lightblue;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid whitesmoke;

}
.right{
    background-color: lightpink;
    color: white;
    display: inline;
    margin-left: 0;
    padding: 10px;
    border-radius:0 10px 10px 0 ;
    border: 1px solid whitesmoke;
    width: 138px;
}
.left{
    background-color: lightblue;
    color: white;
    display: inline;
    margin-right: 0;
    padding: 10px;
    border-radius:10px 0 0 10px;
    border: 1px solid whitesmoke;
    width: 138px;
}
.input {
    min-width: 400px;
    display: inline;
    margin-right: 0;
    padding: 10px;
    border-radius:10px 0 0 10px;
    border: 1px solid whitesmoke;
}
.ul-container{
    min-height: 200px;
    max-height: fit-content;
    
}